 body {
   background-color: lightblue;
   margin: 20px;
 }
 
 nav {
  float: right;  
  padding-top: 20px;
}


nav a {
  font-size: 30px;
  margin: 5px;
  text-decoration: none;
  margin-right: 0px;
  font-family: 'Dancing Script', cursive;
  color: black;
  padding: 0px;
  margin: 0px;
}
nav a:hover {
  background-color: rgb(115, 255, 0);
  opacity: .8;
}

.name {
  height: 300px;
  width: 100%;
  background-image: url();
}

h1 {
  font-family: 'Dancing Script', cursive;
  margin-top: 50px;
  text-align: center;

}

#card {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  
}

.cards {
  box-shadow: 5px 5px 5px grey;
  box-shadow: -5px -5px -5px grey;
  padding: 20px;
  margin-left: 2px;
  align-items: center;
  background-color: rgb(229, 230, 235);
  height: 400px;
  width: 300px;
}

.cards:hover {
  box-shadow: 10px 10px 10px grey;
}

a {
  text-decoration: none;
  
}

#card {
  margin-left: 50px;
}
